body {
  background-color: papayawhip;
  text-align:center;
}

ul {
  list-style-type: none;
  padding: 0px;
  width: 500px;
  margin: auto;
}

li {
  background-color: white;
  padding: 10px;
  margin: 10px;
}

.apple-img {
  width: 300px;
  display: block;
  margin: auto;
}

.header {
  /*width: 100%;*/
  background-color: cyan;
  padding: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 667px) {

  .header {
    background-color: white;
    flex-direction: column;
    align-items: flex-start;
  }

  .name {
    display: none;
  }

}
